{% extends 'base.html.twig' %}

{% block title %}Hello PrincipalController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hola {{ controller_name }}! ✅ > {{ entro }}</h1>

    Primer pagina
    <ul>        
        
        {% if entro =='Principal' %}
             <li><code><a href="{{ path('ingreso')}}">Ingreso</a></code></li>      
        {% endif %}

        {% if entro == 'Ingreso' %}
             <li><code><a href="{{ path('inicio')}}">Principal</a></code></li>      
        {% endif %}
        <li><code><a href="{{ path('noticia')}}">Noticia repetir 20</a></code></li>        
    </ul>
     <code><a href="{{ path('login')}}">Salir</a></code>
</div>
{% endblock %}
